<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ohmyfood</title>
    <link rel="icon" type="image/png" href="{{ asset('eatlogo.svg') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>

{% include 'components/header.twig' %}

<section class="location">
    <img class="location__icon" src="{{ asset('locationLogo.svg') }}" alt="logo de localisation">
    <p class="location__title">Paris, Belleville</p>
</section>

<section class="intro">
    <p class="intro__title">Réservez le menu qui vous convient</p>
    <p class="intro__subtitle">Découvrez des restaurants d'exception, sélectionnés par nos soins.</p>
    <a href="{#{{ path('connection') }}#}"><button class="custom-btn intro-btn">Explorer nos restaurants</button></a>
</section>

<section class="rules">
    <div class="rules__title">Fonctionnement</div>

    <div id="rules-list" class="rules-list">
        <div class="rules-item selected-rules">
            <img class="rules-item__icon" src="{{ asset('mobileLogo.svg') }}" alt="">
            <p class="rules-item__title">Choisissez un restaurant</p>
            <div class="rules-item__numeration">1</div>
        </div>
        <div class="rules-item ">
            <img class="rules-item__icon" src="{{ asset('listLogo.svg') }}" alt="">
            <p class="rules-item__title">Choisissez un restaurant</p>
            <div class="rules-item__numeration">2</div>
        </div>
        <div class="rules-item ">
            <img class="rules-item__icon" src="{{ asset('checkLogo.svg') }}" alt="">
            <p class="rules-item__title">Choisissez un restaurant</p>
            <div class="rules-item__numeration">3</div>
        </div>
    </div>
</section>

<section>
    {% block content %}{% endblock %}
</section>

<footer class="footer">
    <p class="footer__title">ohmyfood</p>

    <ul class="footer-list">
        <li class="footer-item"><img class="footer-item__icon" src="{{ asset('eatlogo.svg') }}" width="18px" alt="">Proposer un restaurant</li>
        <li class="footer-item"><img class="footer-item__icon" src="{{ asset('handshakeLogo.svg') }}" width="18px" alt="">Devenir partenaire</li>
        <li class="footer-item">Mentions légales</li>
        <li class="footer-item"><a href="{#{{ path('contact') }}#}">Contact</a></li>
    </ul>
</footer>
</body>
</html>
